body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    color:white;
  }

ul {
    list-style-type: none;
    display: inline;
}

header {
  
}